In [69]:
import pandas as pd
dataset = pd.read_csv('F:/rekayasa tugas/dataset2.csv',  sep=";")
print(dataset)

       col1   col2   col3   col4   col5   col6   col7   col8   col9  col10  \
0     38.29  38.29  38.29  38.29  38.29  38.29  38.66  38.66  38.66  38.66
1     39.03  38.66  39.03  39.03  39.03  39.03  39.03  39.03  39.03  39.03
2     39.41  39.41  39.41  39.41  39.41  39.41  39.78  39.41  39.78  39.78
3     39.78  39.78  39.78  39.78  40.15  40.15  40.15  40.15  40.15  40.15
4     40.52  40.52  40.52  40.52  40.52  40.52  40.52  40.52  40.52  40.52
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
4470  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.89  72.89
4471  72.89  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.63
4472  72.63  72.89  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.63
4473  72.63  72.63  72.63  72.63  72.89  72.89  72.89  72.63  72.63  72.63
4474  72.63  72.63  72.63  72.63  72.63  72.63  72.89  72.89  72.89  72.89

      target
0          1
1          1
2          1
3          1
4          1
...      ...
4470       1
4471       1
4472       1
4473       1
4474       1

[4475 rows x 11 columns]

 Syntax tersebut adalah kode Python yang menggunakan library pandas untuk membaca file CSV yang disimpan di lokasi 'F:/rekayasa tugas/dataset2.csv' dan kemudian mencetak isi dataset tersebut ke layar.

In [62]:
dataset.columns

Index(['col1;col2;col3;col4;col5;col6;col7;col8;col9;col10;target'], dtype='object')

dataset.columns adalah atribut dari objek DataFrame dalam library pandas di Python. Atribut ini berisi daftar label kolom dari DataFrame tersebut. Dengan menggunakan dataset.columns,  dapat mengakses dan melihat daftar nama-nama kolom yang ada dalam DataFrame.

In [103]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4475 entries, 0 to 4474
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4475 non-null   float64
 1   col2    4475 non-null   float64
 2   col3    4475 non-null   float64
 3   col4    4475 non-null   float64
 4   col5    4475 non-null   float64
 5   col6    4475 non-null   float64
 6   col7    4475 non-null   float64
 7   col8    4475 non-null   float64
 8   col9    4475 non-null   float64
 9   col10   4475 non-null   float64
 10  target  4475 non-null   int64
dtypes: float64(10), int64(1)
memory usage: 384.7 KB

dataset.info() adalah metode dalam pandas yang memberikan ringkasan tentang dataset, mencakup jumlah baris dan kolom, tipe data untuk setiap kolom, serta jumlah nilai non-null dalam setiap kolom. Ini membantu dalam mendapatkan gambaran umum tentang dataset, termasuk tipe data yang digunakan dan apakah ada nilai yang hilang (null).

In [70]:
print(dataset.isnull().sum())

col1      0
col2      0
col3      0
col4      0
col5      0
col6      0
col7      0
col8      0
col9      0
col10     0
target    0
dtype: int64

print(dataset.isnull().sum()) adalah perintah untuk menampilkan jumlah nilai null dalam setiap kolom dari dataset menggunakan pandas di Python. Ini membantu mengidentifikasi kolom-kolom di mana ada data yang hilang, yang penting untuk analisis dan pemrosesan data selanjutnya.

In [106]:
x = dataset[['col1','col2','col3','col4','col5','col6','col7','col8','col9','col10']]

In [107]:
print(x)

       col1   col2   col3   col4   col5   col6   col7   col8   col9  col10
0     38.29  38.29  38.29  38.29  38.29  38.29  38.66  38.66  38.66  38.66
1     39.03  38.66  39.03  39.03  39.03  39.03  39.03  39.03  39.03  39.03
2     39.41  39.41  39.41  39.41  39.41  39.41  39.78  39.41  39.78  39.78
3     39.78  39.78  39.78  39.78  40.15  40.15  40.15  40.15  40.15  40.15
4     40.52  40.52  40.52  40.52  40.52  40.52  40.52  40.52  40.52  40.52
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
4470  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.89  72.89
4471  72.89  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.63
4472  72.63  72.89  72.63  72.63  72.63  72.63  72.63  72.63  72.63  72.63
4473  72.63  72.63  72.63  72.63  72.89  72.89  72.89  72.63  72.63  72.63
4474  72.63  72.63  72.63  72.63  72.63  72.63  72.89  72.89  72.89  72.89

[4475 rows x 10 columns]

Syntax tersebut memilih kolom-kolom tertentu dari dataset menggunakan label kolom, dan menyimpannya dalam variabel x. Kemudian, isi dari variabel x, yaitu subset dataset yang hanya berisi kolom-kolom yang dipilih sebelumnya, dicetak ke layar.

In [108]:
dataset['target'] = dataset['target'].astype(int)

Syntax tersebut secara singkat mengubah tipe data kolom 'target' dalam dataset menjadi tipe data integer.

In [ ]:
y = ['target']

In [ ]:
print(y)

['target']


Syntax tersebut membuat variabel y yang berisi list dengan satu elemen, yaitu string 'target'. Kemudian, isi dari variabel y dicetak ke layar.

In [ ]:
dataset['target'] = [int(value) for value in dataset['target']]

In [ ]:
print(dataset['target'])

0       1
1       1
2       1
3       1
4       1
       ..
4470    1
4471    1
4472    1
4473    1
4474    1
Name: target, Length: 4475, dtype: int64


Syntax tersebut secara singkat mengubah nilai-nilai dalam kolom 'target' menjadi integer dan kemudian mencetak kolom 'target' yang telah diubah.

In [ ]:
y = ['target']

In [ ]:
print(y)

['target']

In [105]:
import numpy as np
from sklearn.model_selection import train_test_split


Syntax ini mengimpor library numpy dengan alias np dan modul train_test_split dari library sklearn.model_selection di Python. Numpy adalah library yang sangat berguna untuk komputasi numerik, sedangkan modul train_test_split digunakan untuk membagi dataset menjadi subset pelatihan dan pengujian (testing) secara acak, yang sering digunakan dalam pengembangan model machine learning. Dengan menggabungkan kedua pernyataan tersebut, kita dapat menggunakan fungsi-fungsi yang disediakan oleh kedua library ini dalam kode kita.

In [94]:
y = np.array([1] * 4475)

Syntax tersebut membuat array NumPy dengan panjang 4475 yang berisi nilai 1, dan menyimpannya dalam variabel y

In [95]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)


Syntax train_test_split digunakan untuk membagi dataset menjadi subset pelatihan dan pengujian dengan proporsi tertentu. Dalam syntax tersebut, parameter x menyimpan fitur-fitur dataset, y menyimpan target variabel atau label, test_size=0.2 menentukan bahwa 20% dari dataset akan digunakan sebagai data pengujian, dan random_state=1 mengatur seed untuk generator nomor acak agar hasilnya dapat direproduksi. Hasilnya disimpan dalam variabel x_train, x_test untuk fitur, dan y_train, y_test untuk target, secara berturut-turut.

In [96]:
len(x_test)

895

Fungsi len() dalam Python digunakan untuk menghitung panjang atau jumlah elemen dalam suatu objek. sementara variabel x_test adalah subset fitur dari dataset yang digunakan untuk pengujian

In [97]:
len(y_train)

3580

len(y_train) adalah sebuah fungsi dalam Python yang digunakan untuk menghitung jumlah elemen dalam variabel y_train, yaitu subset target dari dataset yang digunakan untuk pelatihan.

In [98]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()


Syntax tersebut mengimpor kelas DecisionTreeClassifier dari modul tree dalam library sklearn. Kemudian, kelas DecisionTreeClassifier() digunakan untuk membuat objek classifier dengan menggunakan default parameter.

In [101]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, x, y, cv=5)

Syntax ini menggunakan modul cross_val_score dari sklearn.model_selection untuk melakukan validasi silang pada model yang telah dibuat sebelumnya (clf). Dalam validasi silang ini, data x dan y digunakan dengan metode validasi silang dengan 5 lipatan (cv=5). Hasil evaluasi model disimpan dalam variabel scores

In [102]:
scores

array([1., 1., 1., 1., 1.])


Variabel scores berisi hasil evaluasi performa model pada setiap lipatan validasi silang.